.home {
    height: 100%;
    width: 100%;
    background-image: url('/assets/nzdebatingchamber.jpg');
}

.info, .instructions {
    height: 100%;
    width: 100%;
    background-color: #578354;
}

.hdg {
    font-family: 'Trebuchet MS';
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 0 0 2px #7d7d7d, 0 0 7px #c9c9c9, 0 0 12px #f2f2f2, 0 0 27px #b0b0b0, 0 0 22px #999999, 0 0 27px #d9d9d9, 0 0 32px #adadad;
}

.instrHdg, .infoHdg {
    color: #d19900;
    font-family: 'Trebuchet MS';
    text-align: center;
    font-size: 50px;
}

.instrText, .infoText {
    color: #ffffff;
    font-family: 'Trebuchet MS';
    text-align: center;
    font-size: 30px;
}

.wasdImg {
    width: 30%;
    height: 30%;
    margin: 3%;
}

.mouseicon {
    width: 10%;
    height: 10%;
    margin: 3%;
}

.instrImgs {
    text-align: center;
}

.btn, .btnInstr, .btnInfo {
    background-color: #7a8c92; 
    color: #ffffff;
    border: none;
    font-size: 50px; 
    width: 200px;
    height: 200px;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    position: relative;
    margin: 1%;
}

.btn:hover, .btnInstr:hover, .btnInfo:hover{
    width: 150px;
    height: 150px;
    font-size: 37.5px;
}

.btns {
    text-align: center;
    width: 75%;
    height: 75%;
    margin-left: 15%;
    margin-right: 15%;
}

.close {
    font-size: 60px;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    color: black;
}

.close:hover {
    color: #4a4a4a;
}